<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <!-- <p id='abc1234'> {{number}}</p> -->
    <p v-bind:id='uuid' v-bind:class='name'> {{number}}</p>
    <p> {{doubleNum}}</p>

    <div v-if='loading'>
      Loading...
    </div>

    <div v-else>
      test user has been logged in
    </div>

    <!-- v-if랑 다르게 dom에는 남아있지만 display:none 만 적용하는 방식 -->
    <div v-show='loading'>
      Loading...
    </div>

    <!-- TODO: input 박스를 만들고 입력된값을 p태그에 출력해보기  -->
    <input v-model="message" placeholder="edit me">
    <p>Message is: {{ message }}</p>





  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    new Vue({
      el: '#app',
      data: {
        number: 10,
        uuid: 'abc1234',
        name: 'text-blue',
        loading: true,
        message:''
      },
      computed: {
        doubleNum: function () {
          return this.number * 2
        }
      }
    })
  </script>
</body>

</html>